/* About.css */

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  color: #fff;
}

.about-heading {
  font-size: 3rem;
}

.about-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  animation: fadeIn 1s ease;
}

.about-paragraph {
  background-color: rgba(62, 61, 61, 0.464); ;
  font-size: 1.5rem;
  padding: 50px;
  margin-right: 100px;
  border-radius: 20px;
  max-width: 1100px;
  max-height: 500px;
  margin-top: 70px;
  animation: slideInLeft 1s ease;
}

.about-icons {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  gap: 40px;
  animation: slideInRight 1s ease;
}

.icon {
  display: flex;
  align-items: center;
}

.about-icon {
  color: #7e7e7e;
  font-size: 5rem;
}

/* Animation keyframes */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

