@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }
  
  .Name {
    color: white;
    font-size: 3em;
    font-weight: 700;
    margin: 10px 0;
    padding: 0;
  }
  
  .Typing {
    color: white;
    font-size: 2em;
    font-weight: 500;
    margin: 20px 0;
    padding: 0;
  }
  
  .im-text {
    color: #ffa500; /* Changed color of "I'm" */
    font-weight: bold; /* Bold "I'm" */
  }
  
  .profile-image {
    width: 200px; /* Increased image size */
    height: 200px; /* Increased image size */
    border-radius: 50%;
    margin-bottom: 20px;
    object-fit: cover; /* Crop the image */
  }
  
  .typing-effect {
    display: inline;
  }
  
  .caret {
    display: inline-block;
    width: 2px;
    animation: blink 0.7s step-end infinite;
  }
  
  @keyframes blink {
    from, to { opacity: 0; }
    50% { opacity: 1; }
  }
  
  .social-icons {
    margin-top: 20px;
  }
  
  .social-icons a {
    color: white;
    margin: 0 10px;
    font-size: 2em;
    transition: color 0.3s;
  }
  
  .social-icons a:hover {
    color: #61dafb;
  }
