@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

.skills-container {
    padding: 50px;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
  }
  
  .skills-heading {
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .skills-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 40px;
  }
  
  .skill-item {
    display: flex;
    align-items: center;
    padding: 40px;
    background-color: #282c34;
    border-radius: 20px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
  }
  
  .skill-item:hover {
    transform: translateY(-8px);
  }
  
  .skill-icon {
    font-size: 5em;
    margin-right: 30px;
  }
  
  .skill-name {
    font-family: 'Courier New', Courier, monospace;
    font-size: 5em;
  }
  