@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

#contact {
  padding: 50px 0;
  text-align: center;
}

.contact-heading {
  font-family: 'Roboto', sans-serif;
  font-size: 3em;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 330px;
}

.contact-icons {
  margin-top: 20px;
}

.contact-icons a {
  color: #988484;
  margin: 0 10px;
  text-decoration: none;
  gap: 40px;
}

.contact-icons a:hover {
  color: #4c981a;
}

@media (max-width: 1200px) {
  .contact-heading {
    font-size: 2.5em;
    margin-top: 250px;
  }

  .contact-icons a {
    font-size: 1.8em;
  }
}

@media (max-width: 992px) {
  .contact-heading {
    font-size: 2em;
    margin-top: 200px;
  }

  .contact-icons a {
    font-size: 1.5em;
  }
}

@media (max-width: 768px) {
  .contact-heading {
    font-size: 1.8em;
    margin-top: 150px;
  }

  .contact-icons a {
    font-size: 1.3em;
  }
}

@media (max-width: 576px) {
  .contact-heading {
    font-size: 1.5em;
    margin-top: 100px;
  }

  .contact-icons a {
    font-size: 1.2em;
  }
}

@media (max-width: 375px) {
  .contact-heading {
    font-size: 1.2em;
    margin-top: 70px;
  }

  .contact-icons a {
    font-size: 1em;
  }
}

  